{% extends 'theme/pogo/base.twig' %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">Register</h1>

    <div class="row">

        <div class="col-8">

            <p>
                Register for the site using the below form.
            </p>

            <h3>Your details</h3>
            {% include 'common/form-errors.twig' %}

            <form class="form-horizontal" role="form" method="POST" action="{{ route('register') }}">
                {{ csrf_field() }}

                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Display name</label>
                    <small>how you want to be named on this site</small>

                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" name="name" value="{{ old('name') }}" required autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email address</label>
                    <small>you'll use this to log in</small>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" value="{{ old('email') }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <small>must be at least 8 characters</small>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password-confirm" class="col-md-4 control-label">Confirm password</label>
                    <small>because once isn't enough</small>

                    <div class="col-md-6">
                        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
                    </div>
                </div>

                <h3>Your trainer details</h3>

                <p>
                    Enter your <strong>main</strong> account details below.
                    <br>
                    If you have multiple accounts, you can add them later.
                </p>
                <p>
                    Please do not add accounts owned by friends, partners etc.
                    <br>
                    They need to register for the website and add their own details.
                </p>

                <div class="form-group">
                    <label for="trainer_name" class="col-md-4 control-label">Trainer name</label>

                    <div class="col-md-6">
                        <input id="trainer_name" type="text" class="form-control" name="trainer_name" value="{{ old('trainer_name') }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="trainer_code" class="col-md-4 control-label">Trainer code</label>

                    <div class="col-md-6">
                        <input id="trainer_code" type="text" class="form-control" name="trainer_code" value="{{ old('trainer_code') }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="trainer_team" class="col-md-4 control-label">Team</label>

                    <div class="col-md-6">
                        <select id="trainer_team" name="trainer_team" class="form-control" required>
                            <option value="">&nbsp;</option>
                            <option value="Instinct">Instinct (yellow)</option>
                            <option value="Mystic">Mystic (blue)</option>
                            <option value="Valor">Valor (red)</option>
                        </select>
                    </div>
                </div>

                <p>
                    <strong>Privacy</strong>:
                    By registering an account and signing in,
                    you are agreeing to our <a href="{{ route('static-content.privacy') }}" target="_blank">privacy</a> policy.
                    Please read it before using the site.
                </p>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col">

            <h2>Existing members</h2>
            <p>
                Already a member? <a href="{{ route('login') }}">Login here</a>.
            </p>

        </div>

    </div>

</div>

{% endblock page_body %}
