{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col-12 col-md-4">

                <h2>
                    Hi, {{ AuthUser.name }}!
                </h2>
                <p>
                    It's the Staff zone!
                </p>

            </div>

            <div class="col-12 col-md-4">

                {% if auth_user().hasRole('User manager') %}
                <h2>
                    User management
                </h2>
                <ul>
                    <li>
                        <a href="{{ route('staff.user.list') }}">
                            User list
                            {% if staffPendingUserCount > 0 %}
                            <span class="badge badge-light">{{ staffPendingUserCount }} pending</span>
                            <span class="sr-only">awaiting approval</span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('staff.trainer.list') }}">
                            Trainer list
                            {% if staffPendingTrainerCount > 0 %}
                            <span class="badge badge-light">{{ staffPendingTrainerCount }} pending</span>
                            <span class="sr-only">awaiting approval</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% endif %}

            </div>

            <div class="col-12 col-md-4">

                <h2>
                </h2>
                <p>
                </p>

            </div>

        </div>

</div>

{% endblock page_body %}
