<!doctype html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ TopTitle }} | PoGo Guildford: Pokemon Go Guildford community site</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400b,500,500b,700,700b|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manjari:400,400b,500,500b,700,700b|PT+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/sticky-footer-navbar.css') }}?v=201900916" rel="stylesheet">

    <!-- Site theme -->
    <link href="{{ asset('css/pogocomm-theme.css') }}?v=20190916" rel="stylesheet">

    <meta property="og:url" content="{{ url().current() }}" />
    <meta property="og:title" content="{{ PageTitle }}" />

</head>

<body>

<header>
    {% include 'theme/pogo/nav-top.twig' %}
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% block page_body %}
    {% endblock page_body %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">
            Don't fall off the bottom of the page, or {{ random(siteRandomFooters) }} might get you.
        </span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<!-- {{ env }} | {{ region }} | {{ uid }} -->
</html>
