{% extends 'theme/pogo/section-staff.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <label for="staff-pokedex-filter">Filter:</label>
        <select id="staff-pokedex-filter" name="staff-pokedex-filter" class="form-control">
            <optgroup label="By generation">
                <option value="gen-1">Gen 1</option>
                <option value="gen-2">Gen 2</option>
                <option value="gen-3">Gen 3</option>
                <option value="gen-4">Gen 4</option>
                <option value="gen-5">Gen 5</option>
            </optgroup>
        </select>
    </div>
</div>

<hr>

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col">

        <a class="btn btn-primary" href="{{ route('staff.pokedex.pokemon.add') }}" role="button">Add a Pokemon</a>
        <br>
        <br>

        {% if PokemonList.count > 0 %}
        <table class="table data-sortable">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th></th>
                <th>Name</th>
                <th class="text-center">Gen</th>
                <th class="text-center">Buddy distance</th>
                <th class="text-center">Available</th>
                <th class="text-center">Shiny</th>
                <th class="text-center">Regional</th>
                <th class="text-center">Legendary</th>
                <th class="text-center">Mythical</th>
                <th class="text-center">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for item in PokemonList %}
                <tr>
                    <td class="text-center">
                        {{ item.pokemon_no }}
                    </td>
                    <td class="text-center">
                        {% if item.sprite_normal %}
                            {{ ImageHelper.spriteNormalBuilder(item, '60px') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ item.pokemon_name }}
                    </td>
                    <td class="text-center">
                        {{ item.generation }}
                    </td>
                    <td class="text-center">
                        {% if item.buddy_distance %}
                        {{ item.buddy_distance }}km
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.is_available %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% else %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.has_shiny %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% else %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.is_regional %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% else %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.is_legendary %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% else %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.is_mythical %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% else %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.pokedex.pokemon.edit', {'pokemonNo': item.pokemon_no}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No Pokemon found!</p>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}

{% block page_scripts %}
{% include 'common/table-sorting.twig' %}
<script>
    $('#staff-pokedex-filter').on('change', function() {
        selectedGameFilter = $(this).val();
        top.location.href = '{{ route('staff.pokedex.pokemon.list')}}' + '/' + selectedGameFilter;
    });
    $(document).ready(function() {
        var activeFilter = '{{ ActiveFilter }}';
        $('#staff-pokedex-filter').val(activeFilter);
        $('.data-sortable').DataTable({
            "order": [0, 'asc'],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>
{% endblock page_scripts %}
