{% extends 'theme/pogo/base.twig' %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

    <div class="row">

        <div class="col">

            {% if UserList.count > 0 %}
            <table class="table data-sortable">
                <thead>
                <tr>
                    <th class="text-right">#</th>
                    <th>Display name</th>
                    <th class="text-left">Roles</th>
                    <th class="text-center">Joined</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in UserList %}
                    <tr>
                        <td class="text-right">
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.name }}
                            <br>
                            <small>{{ item.email }}</small>
                        </td>
                        <td class="text-left">
                            {% if item.is_owner %}
                                <small>Owner</small>
                            {% elseif item.is_staff %}
                                {% for userRole in item.user_roles %}
                                    <small>
                                        {{ userRole }}
                                        {% if not loop.last %}<br>{% endif %}
                                    </small>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ item.created_at|date('Y-m-d') }}
                        </td>
                        <td class="text-center">
                            {{ item.status }}
                        </td>
                        <td class="text-center">
                            Edit
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <p>No users found!</p>
            {% endif %}

        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_body %}
