{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col-12 col-md-4">

                <h2>
                    Hi, {{ AuthUser.name }}!
                </h2>
                <p>
                    It looks like you've logged in successfully. This is where we should probably put some
                    useful information and links. We'll do that soon.
                </p>

            </div>

            <div class="col-12 col-md-4">

                {% if AuthUser.isApproved() %}
                    <h2>
                        Trainer codes and members
                    </h2>
                    <ul>
                        <li><a href="{{ route('user.trainers') }}">Trainer list</a></li>
                        <li><a href="{{ route('user.members') }}">Member list</a></li>
                    </ul>
                {% endif %}

            </div>

            <div class="col-12 col-md-4">

                <h2>
                    Trainer split
                </h2>
                <canvas id="teamSplit"></canvas>

            </div>

        </div>

</div>

{% if AuthUser.isApproved() %}
<script>
    var ctx = document.getElementById('teamSplit').getContext('2d');
    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    {% for item in TeamCounts %}
                    {{ item.count }}
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
                backgroundColor: [
                    {% for item in TeamCounts %}
                    '{{ item.colour }}'
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            }],
            labels: [
                {% for item in TeamCounts %}
                '{{ item.trainer_team }}'
                {% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    });

</script>
{% endif %}

{% endblock page_body %}
