{% extends 'theme/pogo/section-staff.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col">

        {% if TrainerList.count > 0 %}
        <table class="table data-sortable">
            <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th class="text-center">Code</th>
                <th class="text-center">Team</th>
                <th class="text-center">Joined</th>
                <th class="text-center">Status</th>
                <th class="text-center">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for item in TrainerList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.trainer_name }}
                    </td>
                    <td class="text-center">
                        {{ item.trainer_code }}
                    </td>
                    <td class="text-center">
                        {{ item.trainer_team }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at|date('Y-m-d') }}
                    </td>
                    <td class="text-center">
                        {{ item.status }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.trainer.edit', {'trainerId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No trainers found!</p>
        {% endif %}

    </div>

</div>
{% endblock page_inner %}

{% block page_scripts %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
{% endblock page_scripts %}
